@-ms-viewport{
    width: device-width;
  }

  .img{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
    background-size: cover;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .img h1{
    color: aliceblue;
    font-size: 50px;
 }
.img p{
    color: aliceblue;
    font-size: 20px;
    
}
.img #mouse{
    position: absolute;
    bottom: 10px;
    width: none;
}